@{
    ViewData["Title"] = "Присутствующие";
}
<div class="present-main">
    <div id="present-items">
        <a class="present-links" href="@Url.Action("Presents", "Home", new{lesson = 1})">
            <div class="present-item pl-a">
                <span>1 пара</span>
            </div>
        </a>
        <a class="present-links" href="@Url.Action("Presents", "Home", new{lesson = 2})">
            <div class="present-item pl-h">
                <span>2 пара</span>
            </div>
        </a>
        <a class="present-links" href="@Url.Action("Presents", "Home", new{lesson = 3})">
            <div class="present-item">
                <span>3 пара</span>
            </div>
        </a>
        <a class="present-links" href="@Url.Action("Presents", "Home", new{lesson = 4})">
            <div class="present-item">
                <span>4 пара</span>
            </div>
        </a>
        <a class="present-links" href="@Url.Action("Presents", "Home", new{lesson = 5})">
            <div class="present-item">
                <span>5 пара</span>
            </div>
        </a>
        <a class="present-links" href="@Url.Action("Presents", "Home", new{lesson = 6})">
            <div class="present-item">
                <span>6 пара</span>
            </div>
        </a>
        <a class="present-links" href="@Url.Action("Presents", "Home", new{lesson = 7})">
            <div class="present-item">
                <span>7 пара</span>
            </div>
        </a>
        <a class="present-links" href="@Url.Action("Presents", "Home", new{lesson = 8})">
            <div class="present-item">
                <span>8 пара</span>
            </div>
        </a>
    </div>
</div>
@if (((List<Present>)Model).Count > 0)
{
    <div class="groups">
        <div class="group-present">
            <div class="group-present-left">
                <span id="nc">@Model[0].CourseName</span>
                <br />
                <span id="nc">@Model[0].Group</span>
                <br />
                <input class="input-style" placeholder="Введите тему занятия">
            </div>
            <div class="group-present-right">
                <div class="present-elements">
                    <a href="#">
                        <div class="present-element">
                            <i class='bx bx-check icon'></i>
                            <span>Сохранить</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="present-element">
                            <i class='bx bx-x icon'></i>
                            <span>Отмена</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="present-element">
                            <i class='bx bx-import icon'></i>
                            <span>Отправить материал</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="groups">
        <div class="group-present">
            <table class="present-table">
                <tbody>
                    <tr>
                        <td></td>
                        <th>Фамилия Имя Отчество</th>
                        <th>Посещаемость</th>
                        <th>Статус</th>
                        <th>Выполнение</th>
                    </tr>
                    @foreach (var item in @Model)
                    {
                        <tr>
                            <td><img src="~/img/pic/test.png" draggable="false" /></td>
                            <td><span id="pn">@item.FIO</span></td>
                            <td><span>99%</span></td>
                            <td>
                                <select id="student-status">
                                    <option value="" selected>Отсутсвует</option>
                                    <option value="">Опоздал</option>
                                    <option value="">Присутствует</option>
                                </select>
                            </td>
                            <td>
                                <select id="student-pass">
                                    <option value="" selected>-</option>
                                    <option value="">Нет</option>
                                    <option value="">Выполнено</option>
                                    <option value="">Защита</option>
                                </select>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}


