@{
    ViewData["Title"] = "Присутствующие";
    var lessonNumber = ViewContext.HttpContext.Request.Query["lesson"].FirstOrDefault();
}
<div class="present-main">
    <div id="present-items">
        @for (var i = 1; i <= 8; i++){
            <a class="present-links" href="@Url.Action("Presents", "Home", new{lesson = i})">
                <div class="present-item @(lessonNumber == i.ToString()?"pl-a":"")">
                    <span>@i пара</span>
                </div>
            </a>
        }
    </div>
</div>
@if (((List<Present>)Model.Presents).Count > 0)
{
    <div class="groups">
        <div class="group-present">
            <div class="group-present-left">
                <span id="nc">@Model.Presents[0].CourseName</span>
                <br />
                <span id="nc">@Model.Presents[0].Group</span>
                <br />
                <input class="input-style" placeholder="Введите тему занятия">
            </div>
            <div class="group-present-right">
                <div class="present-elements">
                    <a href="#">
                        <div class="present-element">
                            <i class='bx bx-check icon'></i>
                            <span>Сохранить</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="present-element">
                            <i class='bx bx-x icon'></i>
                            <span>Отмена</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="present-element">
                            <i class='bx bx-import icon'></i>
                            <span>Отправить материал</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="groups">
        <div class="group-present">
            <table class="present-table">
                <tbody>
                    <tr>
                        <td></td>
                        <th>Фамилия Имя Отчество</th>
                        <th>Посещаемость</th>
                        <th>Статус</th>
                        <th>Выполнение</th>
                    </tr>
                    @foreach (var item in @Model.Presents)
                    {
                        
                        <tr>
                            <td><img src="~/img/pic/test.png" draggable="false" /></td>
                            <td><span id="pn">@item.FIO</span></td>
                            <td><span>99%</span></td>
                            <td>
                                <div class="dropdown">
                                    @*Доделать*@
                                    <button class="dropbtn">@(Model.StudentAttendance == 0?"Опоздал":"")</button>
                                    <div class="dropdown-content">
                                        <a href="@Url.Action("SetAttendance", "Home", new{attendance = 0, studentId = @item.StudentId, scheduleId = @item.ScheduleId, lessonId = lessonNumber})">Отсутсвует</a>
                                        <a href="@Url.Action("SetAttendance", "Home", new{attendance = 1, studentId = @item.StudentId, scheduleId = @item.ScheduleId, lessonId = lessonNumber})">Опоздал</a>
                                        <a href="@Url.Action("SetAttendance", "Home", new{attendance = 2, studentId = @item.StudentId, scheduleId = @item.ScheduleId, lessonId = lessonNumber})">Присутствует</a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button class="dropbtn">-</button>
                                    <div class="dropdown-content">
                                        <a href="@Url.Action("SetPass", "Home", new{pass = 0, studentId = @item.StudentId, scheduleId = @item.ScheduleId, lessonId = lessonNumber})">Нет</a>
                                        <a href="@Url.Action("SetPass", "Home", new{pass = 1, studentId = @item.StudentId, scheduleId = @item.ScheduleId, lessonId = lessonNumber})">Выполнено</a>
                                        <a href="@Url.Action("SetPass", "Home", new{pass = 2, studentId = @item.StudentId, scheduleId = @item.ScheduleId, lessonId = lessonNumber})">Защита</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}


