@using System.Linq

@{
    ViewData["Title"] = "Расписание";
}

@*<div class="group">
    <h1>@ViewData["Title"]</h1>
</div>*@

<div class="group"> 
    <table class="schedule-table">
        <thead>
            <tr>
                <th>Понедельник</th>
                <th>Вторник</th>
                <th>Среда</th>
                <th>Четверг</th>
                <th>Пятница</th>
                <th>Суббота</th>
            </tr>
        </thead>
    </table>
</div>

<div class="group-table">
    <table class="schedule-table">
        <tbody>
            <tr>
                @{
                    var currentLessons1 = ((IEnumerable<Schedule>)Model).Where(x => x.LessonNumber == 1).ToList();
                    @for (var i = 1; i <= 6; i++)
                    {
                        var currentLesson = currentLessons1.FirstOrDefault(x => x.DayOfWeek == i);
                        if (currentLesson != null)
                        {
                            <td>
                                <div class="schedule-card @(currentLesson.Type == 1?"lesson":currentLesson.Type == 2?"practice":currentLesson.Type == 3?"lab":currentLesson.Type == 4?"double-lab":"")">
                                    <p>@currentLesson.Course</p>
                                    <p>гр. @currentLesson.Group</p>
                                    <p>@currentLesson.Time.ToString(@"hh\:mm")</p>
                                </div>
                            </td>
                        }
                        else
                        {
                            <td>
                                <div class="schedule-card"></div>
                            </td>
                        }

                    }
                }
            </tr>
            <tr>
                @{
                    var currentLessons2 = ((IEnumerable<Schedule>)Model).Where(x => x.LessonNumber == 2).ToList();
                    @for (var i = 1; i <= 6; i++)
                    {
                        var currentLesson = currentLessons2.FirstOrDefault(x => x.DayOfWeek == i);
                        if (currentLesson != null)
                        {
                            <td>
                                <div class="schedule-card @(currentLesson.Type == 1?"lesson":currentLesson.Type == 2?"practice":currentLesson.Type == 3?"lab":currentLesson.Type == 4?"double-lab":"")">
                                    <p>@currentLesson.Course</p>
                                    <p>гр. @currentLesson.Group</p>
                                    <p>@currentLesson.Time.ToString(@"hh\:mm")</p>
                                </div>
                            </td>
                        }
                        else
                        {
                            <td>
                                <div class="schedule-card"></div>
                            </td>
                        }

                    }
                }
            </tr>
            <tr>
                @{
                    var currentLessons3 = ((IEnumerable<Schedule>)Model).Where(x => x.LessonNumber == 3).ToList();
                    @for (var i = 1; i <= 6; i++)
                    {
                        var currentLesson = currentLessons3.FirstOrDefault(x => x.DayOfWeek == i);
                        if (currentLesson != null)
                        {
                            <td>
                                <div class="schedule-card @(currentLesson.Type == 1?"lesson":currentLesson.Type == 2?"practice":currentLesson.Type == 3?"lab":currentLesson.Type == 4?"double-lab":"")">
                                    <p>@currentLesson.Course</p>
                                    <p>гр. @currentLesson.Group</p>
                                    <p>@currentLesson.Time.ToString(@"hh\:mm")</p>
                                </div>
                            </td>
                        }
                        else
                        {
                            <td>
                                <div class="schedule-card"></div>
                            </td>
                        }

                    }
                }
            </tr>
            <tr>
                @{
                    var currentLessons4 = ((IEnumerable<Schedule>)Model).Where(x => x.LessonNumber == 4).ToList();
                    @for (var i = 1; i <= 6; i++)
                    {
                        var currentLesson = currentLessons4.FirstOrDefault(x => x.DayOfWeek == i);
                        if (currentLesson != null)
                        {
                            <td>
                                <div class="schedule-card @(currentLesson.Type == 1?"lesson":currentLesson.Type == 2?"practice":currentLesson.Type == 3?"lab":currentLesson.Type == 4?"double-lab":"")">
                                    <p>@currentLesson.Course</p>
                                    <p>гр. @currentLesson.Group</p>
                                    <p>@currentLesson.Time.ToString(@"hh\:mm")</p>
                                </div>
                            </td>
                        }
                        else
                        {
                            <td>
                                <div class="schedule-card"></div>
                            </td>
                        }

                    }
                }
            </tr>
            <tr>
                @{
                    var currentLessons5 = ((IEnumerable<Schedule>)Model).Where(x => x.LessonNumber == 5).ToList();
                    @for (var i = 1; i <= 6; i++)
                    {
                        var currentLesson = currentLessons5.FirstOrDefault(x => x.DayOfWeek == i);
                        if (currentLesson != null)
                        {
                            <td>
                                <div class="schedule-card @(currentLesson.Type == 1?"lesson":currentLesson.Type == 2?"practice":currentLesson.Type == 3?"lab":currentLesson.Type == 4?"double-lab":"")">
                                    <p>@currentLesson.Course</p>
                                    <p>гр. @currentLesson.Group</p>
                                    <p>@currentLesson.Time.ToString(@"hh\:mm")</p>
                                </div>
                            </td>
                        }
                        else
                        {
                            <td>
                                <div class="schedule-card"></div>
                            </td>
                        }

                    }
                }
            </tr>
            <tr>
                @{
                    var currentLessons6 = ((IEnumerable<Schedule>)Model).Where(x => x.LessonNumber == 6).ToList();
                    @for (var i = 1; i <= 6; i++)
                    {
                        var currentLesson = currentLessons6.FirstOrDefault(x => x.DayOfWeek == i);
                        if (currentLesson != null)
                        {
                            <td>
                                <div class="schedule-card @(currentLesson.Type == 1?"lesson":currentLesson.Type == 2?"practice":currentLesson.Type == 3?"lab":currentLesson.Type == 4?"double-lab":"")">
                                    <p>@currentLesson.Course</p>
                                    <p>гр. @currentLesson.Group</p>
                                    <p>@currentLesson.Time.ToString(@"hh\:mm")</p>
                                </div>
                            </td>
                        }
                        else
                        {
                            <td>
                                <div class="schedule-card"></div>
                            </td>
                        }

                    }
                }
            </tr>
            <tr>
                @{
                    var currentLessons7 = ((IEnumerable<Schedule>)Model).Where(x => x.LessonNumber == 7).ToList();
                    @for (var i = 1; i <= 6; i++)
                    {
                        var currentLesson = currentLessons7.FirstOrDefault(x => x.DayOfWeek == i);
                        if (currentLesson != null)
                        {
                            <td>
                                <div class="schedule-card @(currentLesson.Type == 1?"lesson":currentLesson.Type == 2?"practice":currentLesson.Type == 3?"lab":currentLesson.Type == 4?"double-lab":"")">
                                    <p>@currentLesson.Course</p>
                                    <p>гр. @currentLesson.Group</p>
                                    <p>@currentLesson.Time.ToString(@"hh\:mm")</p>
                                </div>
                            </td>
                        }
                        else
                        {
                            <td>
                                <div class="schedule-card"></div>
                            </td>
                        }

                    }
                }
            </tr>
            <tr>
                @{
                    var currentLessons8 = ((IEnumerable<Schedule>)Model).Where(x => x.LessonNumber == 8).ToList();
                    @for (var i = 1; i <= 6; i++)
                    {
                        var currentLesson = currentLessons8.FirstOrDefault(x => x.DayOfWeek == i);
                        if (currentLesson != null)
                        {
                            <td>
                                <div class="schedule-card @(currentLesson.Type == 1?"lesson":currentLesson.Type == 2?"practice":currentLesson.Type == 3?"lab":currentLesson.Type == 4?"double-lab":"")">
                                    <p>@currentLesson.Course</p>
                                    <p>гр. @currentLesson.Group</p>
                                    <p>@currentLesson.Time.ToString(@"hh\:mm")</p>
                                </div>
                            </td>
                        }
                        else
                        {
                            <td>
                                <div class="schedule-card"></div>
                            </td>
                        }

                    }
                }
            </tr>
            <tr>
                @{
                    var currentLessons9 = ((IEnumerable<Schedule>)Model).Where(x => x.LessonNumber == 9).ToList();
                    @for (var i = 1; i <= 6; i++)
                    {
                        var currentLesson = currentLessons9.FirstOrDefault(x => x.DayOfWeek == i);
                        if (currentLesson != null)
                        {
                            <td>
                                <div class="schedule-card @(currentLesson.Type == 1?"lesson":currentLesson.Type == 2?"practice":currentLesson.Type == 3?"lab":currentLesson.Type == 4?"double-lab":"")">
                                    <p>@currentLesson.Course</p>
                                    <p>гр. @currentLesson.Group</p>
                                    <p>@currentLesson.Time.ToString(@"hh\:mm")</p>
                                </div>
                            </td>
                        }
                        else
                        {
                            <td>
                                <div class="schedule-card"></div>
                            </td>
                        }

                    }
                }
            </tr>
        </tbody>
    </table>
</div>

