@using System.Linq

@{
    ViewData["Title"] = "Расписание";
}

<div class="group">
    <span class="sc-center">@*@dateFrom - @dateTo*@ 06.03.23 - 12.03.23</span>
    <button name="button" class="sc-right" onclick="location.href='@Url.Action("Schedule", "Home", new{date = DateTime.Now.AddDays(7).ToString(@"dd.MM.yyyy")})'">Следующая неделя</button>
    <button name="button" class="sc-right" onclick="location.href='@Url.Action("Schedule", "Home", new{date = DateTime.Now.AddDays(0).ToString(@"dd.MM.yyyy")})'">Текущая неделя</button>
    <button name="button" class="sc-right" onclick="location.href='@Url.Action("Schedule", "Home", new{date = DateTime.Now.AddDays(-7).ToString(@"dd.MM.yyyy")})'">Прошлая неделя</button>
</div>

<div class="group-table">
    <table class="schedule-table">
        <thead>
            <tr>
                <th>Понедельник</th>
                <th>Вторник</th>
                <th>Среда</th>
                <th>Четверг</th>
                <th>Пятница</th>
                <th>Суббота</th>
            </tr>
        </thead>
        <tbody>
            @{
                var doubleLabIndexes = new List<int>();
                @for (var i = 1; i <= 8; i++)
                {
                    var currentLessons = ((IEnumerable<Schedule>)Model).Where(x => x.LessonNumber == i).ToList();
                    <tr>
                        @for (var j = 1; j <= 6; j++)
                        {
                            if (doubleLabIndexes.Contains(j))
                            {
                                doubleLabIndexes.Remove(j);
                                continue;
                            }
                            var currentLesson = currentLessons.FirstOrDefault(x => x.DayOfWeek == j);
                            if (currentLesson != null)
                            {
                                if (currentLesson.Type == 4)
                                {
                                    doubleLabIndexes.Add(j);
                                }
                                <td @(currentLesson.Type == 4?"rowspan=2":"")>
                                    <div class="schedule-card @(currentLesson.Type == 1?"lesson":currentLesson.Type == 2?"practice":currentLesson.Type == 3?"lab":currentLesson.Type == 4?"double-lab":"")">
                                        <span>@currentLesson.Course</span>
                                        <span>гр. @currentLesson.Group</span>
                                        <span>ауд. @currentLesson.Room</span>
                                        <span>@currentLesson.Time.ToString(@"hh\:mm")</span>
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <div class="schedule-card-nl">
                                    </div>
                                </td>
                            }
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

