@{
    ViewData["Title"] = "Студенты";
}
<div class="groups">
    <div class="group-left">
        
        <div class="group-list">
            <input class="input-style" placeholder="Введите номер группы">
            @foreach (var item in @Model)
            {
                <a class="group-action" href="@Url.Action("Students", "Home", new{groupName = @item.GroupName})">
                    <div class="group-item">
                        <span>@item.GroupName</span>
                    </div>
                </a>
            }
        </div>
    </div>

    <div class="group-right">
        <table class="student-table">
            <thead>
                <tr>
                    <th>Фамилия Имя Отчество</th>
                    <th>Номер группы</th>
                    <th>Год обучения</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @Model)
                {
                    <tr>
                        <td>@item.FIO</td>
                        <td>@item.GroupName</td>
                        <td>@item.StartYear</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>