@{
    ViewData["Title"] = "Студенты";
}
<div class="groups">
    <div class="group-left">
        <div class="group-search">
            <input class="input-style" type="text" placeholder="Введите номер группы" name="groupName" id="txtCustomerName" />
        </div>
        <div class="group-list">
            @foreach (var item in @Model.Groups)
            {
                <a class="group-action" href="@Url.Action("Students", "Home", new{groupName = @item.GroupName})">
                    <div class="group-item">
                        <span>@item.GroupName</span>
                    </div>
                </a>
            }
        </div>
    </div>

    <div class="group-right">
        <table class="student-table">
            <thead>
                <tr>
                    <th>Фамилия Имя Отчество</th>
                    <th>Номер группы</th>
                    <th>Год обучения</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @Model.Students)
                {
                    <tr>
                        <td>@item.FIO</td>
                        <td>@item.GroupName</td>
                        <td>@item.StartYear</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        GetCustomers();
        $("#txtCustomerName").keyup(function () {
            GetCustomers();
        });
    });
    function GetCustomers() {
        var customerName = $.trim($("#txtCustomerName").val());
        $.ajax({
            type: "POST",
            url: "/Home/SearchCustomers",
            data: "{customerName:'" + customerName + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (customers) {
                var table = $("#tblCustomers");
                table.find("tr:not(:first)").remove();
                $.each(customers, function (i, customer) {
                    var table = $("#tblCustomers");
                    var row = table[0].insertRow(-1);
                    $(row).append("<td />");
                    $(row).find("td").eq(0).html(customer.CustomerID);
                    $(row).append("<td />");
                    $(row).find("td").eq(1).html(customer.ContactName);
                    $(row).append("<td />");
                    $(row).find("td").eq(2).html(customer.City);
                    $(row).append("<td />");
                    $(row).find("td").eq(3).html(customer.Country);
                });
            }
        });
    }
</script>